
.image_outer_container{
	margin-top: auto;
	margin-bottom: auto;
	border-radius: 50%;
	position: relative;
}

.image_inner_container{
	border-radius: 50%;
	padding: 5px;
	background: #833ab4; 
	background: -webkit-linear-gradient(to bottom, rgb(106, 115, 123), rgb(69, 85, 95), rgb(227, 27, 35), #912020); 
	background: linear-gradient(to bottom,  rgb(106, 115, 123), rgb(69, 85, 95), rgb(227, 27, 35), #912020);
}
.image_inner_container img{
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border: 5px solid white;
}

.image_outer_container .green_icon{
	background-color: rgb(64, 177, 56);
	position: absolute;
	right: 30px;
	bottom: 10px;
	height: 30px;
	width: 30px;
	border:5px solid white;
	border-radius: 50%;
}

.text-secondary{
	color: #52595f !important;
}

.jumbotron{
	margin-bottom: 1rem !important; 
}
body{
	background-color: #f8f9fa !important;
}