 <template>
 <div>
        <b-navbar toggleable="lg" 
                    type="dark" 
                    variant="dark" 
                    class="py-0" :sticky="true">

            <b-navbar-brand href="">
                <b-img class="py-0" alt="img"
                    :src="urlImage" 
                    style="max-width: 100px; max-height: 50px;"/>
            </b-navbar-brand>

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
            <b-nav-item-dropdown>
                <template v-slot:button-content> 
                    <i class="fas fa-dollar-sign" style="color:white"></i>
                    Negocios
                </template>

                <b-dropdown-item :to="{name: 'negocios.lista'}"
                    style="color: #777;">
                        <div class="mr-5 ml-1">
                            <i class="fas fa-list-alt pr-2"></i>
                            Lista
                        </div>
                </b-dropdown-item>

                <hr class="pb-1 mb-0 mt-1">

                <b-dropdown-item :to="{name: 'negocios.embudos'}" style="color: #777;">
                    <div class="mr-5 ml-1">
                        <i class="fab fa-microsoft pr-2"></i> 
                        Embudos
                    </div>
                </b-dropdown-item>

                <hr class="pb-1 mb-0 mt-1">

                <b-dropdown-item :to="{name: 'negocios.seguimiento'}" style="color: #777;">
                    <div class="mr-5 ml-1">
                        <i class="fas fa-exchange-alt pr-2"></i> 
                        Seguimiento
                    </div>
                </b-dropdown-item>

                <hr class="pb-1 mb-0 mt-1">

                <b-dropdown-item :to="{name: 'vt.presupuesto'}" style="color: #777;">
                    <div class="mr-5 ml-1">
                        <i class="fas fa-calculator pr-2"></i> 
                        Presupuesto
                    </div>
                </b-dropdown-item>

                <hr class="pb-1 mb-0 mt-1">

                <b-dropdown-item :to="{name: 'negocios.notas'}" style="color: #777;">
                    <div class="mr-5 ml-1">
                        <i class="far fa-sticky-note pr-2"></i> 
                        Notas
                    </div>
                </b-dropdown-item>
            </b-nav-item-dropdown>

             <b-nav-item class="px-2"
                :to="{name:'vt.actividades'}">
                <i class="far fa-calendar-alt" style="color:white"></i> 
                Actividades
            </b-nav-item>

            <b-nav-item-dropdown>
                <template v-slot:button-content> 
                    <i class="fas fa-users" style="color:white"></i> 
                    Clientes
                </template>

                <b-dropdown-item 
                    :to="{name: 'vt.clientes'}"
                    style="color: #777;">
                    <div class="mr-5 ml-1">
                        <i class="fas fa-building pr-2"></i> 
                        Clientes
                    </div>
                </b-dropdown-item>

                <hr class="pb-1 mb-0 mt-1">

                <b-dropdown-item 
                    :to="{name: 'vt.contactos'}"
                    style="color: #777;">
                    <div class="mr-5 ml-1">
                        <i class="fas fa-user-tie pr-2"></i> 
                        Contactos
                    </div>
                </b-dropdown-item>
            </b-nav-item-dropdown>

            <b-nav-item-dropdown>
                <template v-slot:button-content> 
                    <i class="fas fa-chart-line" style="color:white"></i>  
                    Estadisticas
                </template>

                <b-dropdown-item 
                    :to="{name: 'vt.indicadores.cf'}"
                    style="color: #777;">
                    <div class="mr-5 ml-1">
                        <i class="fas fa-chart-bar pr-2"></i> 
                        Indicadores
                    </div>
                </b-dropdown-item>
            </b-nav-item-dropdown>


            <b-nav-item class="px-2" 
                href="http://smartconsulting.mx/tickets/public/">
                <i class="fas fa-ticket-alt" style="color:white"></i>
                Abrir ticket
            </b-nav-item>
        </b-navbar-nav>

        <b-navbar-nav class="ml-auto">

            <b-nav-item class="pr-0" right v-on:click="$emit('showSystemInfo')">
                <b-button variant="link">
                    <i class="fas fa-question-circle text-white"></i>
                </b-button>
            </b-nav-item>

            <b-nav-item-dropdown right v-on:click.native="getNotifications">
                <template v-slot:button-content>
                    <b-button variant="link" v-on:click="getNotifications" href="#" class="mr-0 pr-0 pl-0">
                        <i class="fas fa-bell text-light"></i> 
                        <span class="badge badge-danger" v-if="notCount > 0">{{ notCount }}</span>                           
                    </b-button>
                </template>
                <notifications-list-component :usuario="usuario"/>
            </b-nav-item-dropdown>

            <div right class="ml-2">
                <b-img rounded="circle" :src="urlImage" width="40" height="40" alt="img"/>
            </div>
            <b-nav-item-dropdown right>
                <template v-slot:button-content>
                    <label class="mt-1">
                        {{ nombreUsuario }}
                    </label>
                </template>

                <b-dropdown-item href="http://localhost:8080/erp-ammmec/modules/ventas/?c=perfil&g=true"
                    style="color: #777;">
                    <div class="mr-5 ml-1">
                        <i class="fas fa-user-circle pr-2"></i>
                        Mi cuenta
                    </div>
                </b-dropdown-item>

                <hr class="pb-1 mb-0 mt-1">

                <b-dropdown-item href="http://localhost:8080/erp-ammmec/modules/ventas/?c=negocios&a=ConfigurarEmbudos"
                    style="color: #777;">
                    <div class="mr-5 ml-1">
                        <i class="fas fa-cogs pr-2"></i>    
                        Configuración
                    </div>
                </b-dropdown-item>

                <hr class="pb-1 mb-0 mt-1">
                <b-dropdown-item @click="logout"
                    style="color: #777;">
                    <div class="mr-5 ml-1">
                        <i class="fas fa-sign-out-alt pr-2"></i>    
                        Cerrar sesión
                    </div>
                </b-dropdown-item>

                <!-- <b-dropdown-item href="#" @click="logout"
                    style="color: #777;">
                    <div class="mr-5 ml-1">
                        <i class="fas fa-sign-out-alt pr-2"></i>
                        Cerrar sesión
                    </div>
                </b-dropdown-item> -->
            </b-nav-item-dropdown>
        </b-navbar-nav> 
    </b-collapse>

        </b-navbar>

        <transition name="slide-fade" mode="out-in">
            <router-view></router-view>
        </transition>
    </div>
</template>