 <template>
    <div>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark box-shadow-navbar bg-dark py-0">
        <div class="container-fluid">
            <a href="#" class="" style="padding-top: 1px; padding-left: 0px; margin-right: 20px;">
                <img :src="urlLogo" alt="logo" style="max-width: 100px; max-height: 50px;">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white-75" :class="{[active]: vista === 'vMisTickets' }" :href="urlMisTickets">
                            <i class="fas fa-ticket-alt"></i>
                            Mis tickets
                        </a>
                    </li>
                   
                    <li class="nav-item" v-if="user.is_admin">
                        <a class="nav-link text-white-75" :class="{[active]: vista === 'vTicketsAdmin' }" :href="urlBandejaEntrada">
                            <i class="fas fa-envelope"></i>
                            Bandeja de entrada
                        </a>
                    </li>
                   
                    <li class="nav-item" v-if="user.is_admin">
                        <a class="nav-link text-white-75" :class="{[active]: vista === 'vServicios' }" :href="urlServicios">
                            <i class="fas fa-clipboard-check"></i>
                            Servicios
                        </a>
                    </li>

                    <li class="nav-item" v-if="user.is_admin && user.department_id==2">
                        <a class="nav-link text-white-75" :class="{[active]: vista === 'vUsuarios' }" :href="urlUsuarios">
                            <span data-feather="shopping-cart"></span>
                            <i class="fas fa-sticky-note"></i>
                            Usuarios
                        </a>
                    </li>

                    <li class="nav-item" v-if="user.is_admin">
                        <a class="nav-link text-white-75" :class="{[active]: vista === 'vEstadisticas' }" :href="urlEstadisticas">
                            <span data-feather="shopping-cart"></span>
                            <i class="fas fa-chart-line"></i> 
                            Estadisticas
                        </a>
                    </li>
                 
                </ul>
                <ul class="navbar-nav flex-row ml-md-auto">
                    <notifications />
                    <li class="nav-item dropdown">
                        <a class="nav-link text-white-75 dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <img :src="urlPicture" class="rounded-circle" alt="Usuario" style="min-width: 40px; min-height: 40px; max-width: 40px; max-height: 40px;" />
                            <label class="ml-1">{{ user.name }}</label>

                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#" @click="logout"><i class="fas fa-power-off"></i>  Cerrar sesión</a>
                          </div>
                    </li>
                </ul>
            </div>
        </div> <!-- contailer -->
    </nav> 


    <transition name="slide-fade" mode="out-in">
        <router-view></router-view>
    </transition>
    </div>
</template>
<script>
    import { mapState, mapMutations } from 'vuex';
    export default {
        props:{
            user: Object,
            vista: String,
        },
        data(){
            return {
               active: 'active'
            }
        },
        mounted()
        {
            this.setUser(this.user)
        },
        methods: {
            ...mapMutations(['setUser']),
            logout() {
                axios.post(BaseUrl + '/logout').then(response => {
                    window.location=BaseUrl+'/'
                }).catch(error => {
                    location.reload()
                })
            },
        },
        computed: {
            ...mapState(['isAdmin']),
            urlLogo()
            {
                return BaseUrl + '/images/logo/logo-blanco.png'
            },
            urlMisTickets()
            {
                return BaseUrl + '/tickets'
            },
            urlTicketsCompartidos()
            {
                  return BaseUrl + '/tickets/compartidos'
            },
            urlBandejaEntrada()
            {
                  return BaseUrl + '/tickets/admin'
            },
            urlServicios()
            {
                  return BaseUrl + '/servicios'
            },
            urlUsuarios()
            {  
                  return BaseUrl + '/usuarios'
            },
            urlEstadisticas()
            {
                  return BaseUrl + '/estadisticas'
            },
            urlPicture()
            {
                return BaseUrl + this.user.picture
            }


        },
        watch:{
            
        }
    }
</script>
<style>
    .box-shadow-navbar{
        -webkit-box-shadow: 1px -2px 9px 4px rgba(0,0,0,0.24);
        -moz-box-shadow: 1px -2px 9px 4px rgba(0,0,0,0.24);
        box-shadow: 1px -2px 9px 4px rgba(0,0,0,0.24);
    }
    .text-white-75{
        color: rgb(255, 255, 255, .75) !important;
    }
</style>