.alert-bottom{
	position: fixed;
	z-index: 3;
	bottom: 5px;
	/*left:18%;*/
	width: 100%;
}

@media (min-width: 1000px) and (max-width: 2500px) { 

	.imag2{
		padding-top: 0px;
		width: 16%;
	}
}
@media (max-width: 767px) {

	.imag2{	
		padding-top: 0px;
		width: 250px;
	}
}