<template>
	<!-- <a class="list-group-item" >
		<div class="media">
	        <a href="#" class="icon-shape bg-icon-file text-white mr-3">
	            <i class="fas fa-paperclip paperclip2"></i>
	        </a>
	        <div class="media-body overflow-hidden flex-fill">
	            <a href="#" class="d-block text-truncate font-medium text-reset text-dark mt-2" ><strong>{{ file.name }}</strong></a>
	        </div>
	    </div>
	</a> -->
	<li class="list-group-item py-6">
        <div class="media">

           <a href="#" class="icon-shape bg-danger text-white mr-3">
	            <i class="fas fa-paperclip paperclip2"></i>
	        </a>

            <div class="media-body align-self-center overflow-hidden">
                <h6 class="text-truncate mb-0">
                    <a href="#" class="text-reset" :title="file.name">{{ file.name }}</a>
                </h6>

                <ul class="list-inline small mb-0">
                    <li class="list-inline-item">
                        <span class="text-muted">79.2 KB</span>
                    </li>
                    <li class="list-inline-item">
                        <span class="text-muted text-uppercase">{{ file.type }}</span>
                    </li>
                </ul>
            </div>

            <div class="align-self-center ml-5">
                <div class="dropdown">
                    <a href="#" class="btn btn-sm btn-ico btn-link text-muted w-auto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v mt-2"></i>
                    </a>
                    <div class="dropdown-menu" style="">
                        <a class="dropdown-item d-flex align-items-center" href="#" @click="downloadFile">
                            Descargar <i class="ml-auto fas fa-download"></i></button>
                        </a>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            Ver <i class="ml-auto fas fa-eye"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </li>
</template>
<script>
	import { mapState, mapMutations, mapActions } from 'vuex'
	export default {
		props:{
			file: Object,
		},
		data() {
			return {

			};
		},
		mounted() {
	
		},
		methods: {
			downloadFile()
            {
                window.location = BaseUrl + `/api/files/${this.file.id}`
            },
		},
		computed: {			
		},
		watch: {
			
		},
	}
</script>
<style>
.h7{
    font-size: .8375rem;
}
</style>