<template>
	<div class="modal fade" id="modal-ticket" tabindex="-1" role="dialog" aria-labelledby="modal-ticket-title" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header bg-light text-dark">
					<h1 class="modal-title display-1" id="exampleModalLongTitle" style="font-size:25px">Nuevo ticket</h1>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					  	<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">
					<div style="margin-top:-30px;">
					<div v-if="completeForm" style="margin-top: 30px" class="text-center">
						<div>
							<h4 class="display-1 text-success" style="font-size: 25px"><i class="far fa-check-circle"></i> ¡Todo listo!</h4>
							<p style="font-size:20px" class="mt-2 mb-4">Se ha enviado su ticket satisfactoriamente.</p>
						</div>
						<div>
				           <button class="btn btn-secondary" @click="onComplete">Terminar</button>
				       </div>
					</div>
					<form-wizard @on-complete="onComplete"
								  title="" subtitle=""
				                  shape="circle"
				                  step-size="xs"
				                  transition="slide"
								  :hideButtons="true"
				                  color="rgb(227, 27, 35)"
				                  ref="wizard" v-if="!completeForm">
				    <tab-content>
				    	<div class="text-center">
				           <h1 class="display-1" style="font-size: 27px">Departamento</h1>
				           <p>Seleccione el departamento al que corresponde este ticket</p>
				       </div>
			           <div class="border p-4" style="margin-bottom: 15px;" v-if="departments.length">
			           		<div class="text-center" v-for="(dep,index) in departments" :key="index">
			           			<i class="fas fa-check text-danger display-1" style="font-size:18px" v-if="dep.id == form.department_id"></i> &nbsp; 
			           			<label class="display-1 mb-0" style="font-size:18px; cursor:pointer;" @click="setDeparment(dep.id, dep.name)">
			           				{{ dep.name }}
			           			</label>

			           			<hr class="mx-1" v-if="index < departments.length - 1">
			           		</div>
			      		</div>
				    </tab-content>
				    <tab-content>
				    	<div class="text-center">
				            <h1 class="display-1" style="font-size: 27px">Tema relacionado</h1>
				           <p>Seleccione el tema relacionado a este ticket</p>
						</div>
						<div class="border p-4" style="margin-bottom: 15px;" v-if="services.length">
			           		<div class="text-center" v-for="(service, index) in services" :key="index">
			           			<i class="fas fa-check text-danger display-1" style="font-size:18px" v-if="service.id == form.service_id"></i> &nbsp; 
			           			<label class="display-1 mb-0" style="font-size:15px; cursor:pointer;" for="sistemas" @click="setService(service.id, service.name)">
			           				{{ service.name }}
			           			</label>
			           			<hr class="mx-1" v-if="index < services.length - 1">
			           		</div>
			      		</div>
				    </tab-content>
				    <tab-content>
				    	<div class="text-center">
				            <h1 class="display-1" style="font-size: 27px">Asunto</h1>
				           	<p>Seleccione un asunto, si no existe el asunto que necesita puede registrar otro</p>
				       	</div>
			           <div class="border p-4" style="margin-bottom: 15px;" v-if="subjects.length">
			           		<div class="text-center" v-for="(subject, index) in subjects" :key="index">
			           			<i class="fas fa-check text-danger display-1" style="font-size:18px" v-if="subject.id == form.subject_id"></i> &nbsp;  
			           			<label class="display-1 mb-0" style="font-size:15px; cursor:pointer" for="sistemas" @click="setSubject(subject.id, subject.name)">
			           				{{ subject.name }}
			           			</label>
			           			<hr class="mx-1" v-if="index < subjects.length - 1">
			           		</div>
			      		</div>
				    </tab-content>
				    <tab-content>
				    	<div class="text-center">
				            <h1 class="display-1" style="font-size: 27px">Mensaje</h1>
				           	<p>Describenos tu asunto</p>
				       </div>
				        <div class="form-group row">
				           	 <ckeditor :editor="editor" v-model="form.message" :config="editorConfig"></ckeditor>
				       	</div>
				       	<div class="form-group row">
				           	<div class="custom-file">
								<input type="file" class="custom-file-input" id="customFileLang" lang="es" ref="fileInput" @change="setFile">
								<label v-if="!form.file" class="custom-file-label" for="customFileLang">Seleccionar archivo</label>
								<label v-else class="custom-file-label" for="customFileLang">{{ form.file.name }}</label>
							</div>
				       	</div>	
			       		<div class="form-group row d-flex justify-content-end mt-4 mb-1">
			       			<button class="btn btn-light mr-2" @click="cancel">Cancelar</button>
							<button class="btn btn-danger" v-if="!clickSubmit" @click="submit">Enviar</button>
							<button v-else="clickSubmit" class="btn btn-danger" type="button" disabled>
								<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
								Enviando...
							</button>
			       		</div>		
				    </tab-content>
				  </form-wizard>
				</div>
				</div>
			</div>
		</div>
	</div>
</template>
<style>
	.active {
	    background-color: #ffffff00 !important;
	}
	.vue-form-wizard {
	    padding-bottom: 0px;
	}
</style>

<script>
	import { mapState, mapMutations } from 'vuex';
	import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
	export default {
		data(){
	        return {
	        	name: 'app',
                editor: ClassicEditor,
                editorConfig: {
                        toolbar: ['bold', 'italic', 'bulletedList', 'numberedList'],
                },
				loadingWizard: false,
				errorMsg: null,
				count: 0,
				completeForm: false,
				departments: [],
				services: [],
				subjects: [],
				form: {
					department_id: null,
					department_name: '',
					service_id: null,
					service_name: null,
					subject_id: null,
					subject_name: '',
					message: '',
					user_id: null,
					file: null
				},
				clickSubmit:false,
	        }
      	},
      	mounted()
      	{
      		this.getDepartments()
      	},
      	methods: {
      		...mapMutations('tickets', ['addTicket']),
      		getDepartments()
        	{
        		axios.get(BaseUrl + `/api/departments/admins`).then(response=>{
        			this.departments = response.data
        		});
        	},
        	getServices(department_id)
        	{
				axios.get(BaseUrl + `/api/services/department/${department_id}`).then(response=>{
					this.services = response.data
					this.nextTab()
				})
        	},
        	getSubjects(service_id)
        	{
        		axios.get(BaseUrl + `/api/subjects/service/${service_id}`).then(response=>{
        			this.subjects = response.data
        			this.nextTab()
        		});
        	},
      		setDeparment(id, name)
      		{
      			this.form.department_id = id
      			this.form.department_name = name
      			this.getServices(id);
      		},
      		setService(id, name)
      		{
      			this.form.service_id = id
      			this.form.service_name = name
      			this.getSubjects(id)
      		},
      		setSubject(id, name)
      		{
      			this.form.subject_id = id
      			this.form.subject_name = name
      			this.nextTab()
      		},
      		nextTab(){
      			this.$refs.wizard.nextTab()
      		},
       		onComplete: function(){
       			this.completeForm = false
           		$('#modal-ticket').modal('hide')
        	},   
        	submit(){
        		this.clickSubmit = true

        		var data = new FormData();

		      	data.append('department_id', this.form.department_id);
		      	data.append('service_id', this.form.service_id);
		      	data.append('service_name', this.form.service_name);
		      	data.append('subject_id', this.form.subject_id);
		      	data.append('subject_name', this.form.subject_name);
		      	data.append('message', this.form.message);
		      	data.append('user_id', this.form.user_id);
		      	data.append('file', this.form.file);

        		axios.post(BaseUrl + `/api/tickets`, data).then(response=>{
        			this.completeForm = true
        			this.addTicket(response.data.ticket)
        			this.dataReset()
        		});
        	},
        	setFile(e) {
		      	this.form.file = e.target.files[0];
		    },
        	dataReset()
        	{
        		this.loadingWizard = false
				this.errorMsg = null
				this.count = 0
				this.services = []
				this.subjects = []
				this.clickSubmit = false
				this.form = {
					department_id: null,
					department_name: '',
					service_id: null,
					service_name: null,
					subject_id: null,
					subject_name: '',
					message: '',
					user_id: this.user.id
				}
        	},
        	cancel()
        	{
        		this.dataReset()
        		this.onComplete()
        	}
    	},
    	computed: {
    		...mapState(['user']),
    	},
    	watch:{
    		user(){
    			this.form.user_id = this.user.id
    		}
    	}
	}
</script>
<style>
.ck.ck-editor {
    width: 100% !important;
}
.ck-editor__editable {
    /*min-height: 90px;*/
    max-height: 230px;

}
	$custom-file-text: (
		en: "Browse",
		es: "Elegir"
		);
   
</style>