<template>
	<div class="modal fade" id="modal-close-ticket" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header bg-light text-dark">
					<h1 class="modal-title display-1" id="exampleModalLongTitle" style="font-size:25px">
						{{ data_status.title }}
					</h1>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					  	<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<h1 class="display-1 ml-0 text-dark" style="font-size: 20px;">
						{{ data_status.question }}
					</h1>
				</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" @click="submit" >Confirmar</button>
				</div>
			</div>
		</div>
	</div>
</template>	

<script>
	import { mapState, mapMutations } from 'vuex'

	export default {
		props:{
			ticket_id: Number
		},
		data(){
	        return {
	        	form: {
	        		ticket_id: null,
	        		status: null,
	        		status_admin: null
	        	}
	        }
      	},
      	methods: {
      		...mapMutations('tickets', ['setTicket', 'updateTicket']),
        	submit(){
        		this.form.ticket_id = this.ticket_id
        		this.form.status = this.data_status.status
        		this.form.status_admin = this.data_status.status

        		axios.put(BaseUrl + `/api/tk/status`, this.form).then(response=> {
        			this.setTicket(response.data.ticket)
        			this.updateTicket(response.data.ticket)
        			$('#modal-close-ticket').modal('hide')
        		})
        	}
    	},
    	computed: {
    		...mapState('tickets', ['data_status'])
    	}
	}
</script>