<template>
	<div class="modal fade" id="modal-report" tabindex="-1" role="dialog" aria-labelledby="modal-ticket-title" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">

				<div class="modal-header bg-light text-dark">
					<h1 class="modal-title display-1" id="exampleModalLongTitle" style="font-size:25px">Generar Informe</h1>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					  	<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">
					<div>
						<div class="form-group">
					 		<label for="customFileLang">Comentarios</label>
					 		<ckeditor :editor="editor" v-model="message" :config="editorConfig"></ckeditor>
					 	</div>
					 	<div class="form-group">
					 		<label for="customFileLang">Añadir archivo</label>
						    <div class="custom-file">
							  	<input type="file" class="custom-file-input" id="customFileLang" lang="es" @change="processFile($event)" :input="file">
							  	<label class="custom-file-label" for="customFileLang">Elija o arraste su archivo aquí</label>
							</div>
						</div>
					</div>
				</div>

				<div class="modal-footer">
			        <button type="button" class="btn btn-danger" @click="submit">Enviar</button>
			        <button type="button" class="btn btn-light" data-dismiss="modal">Cancelar</button>
			    </div>
			</div>
		</div>
	</div>
</template>
<style>
	.active {
	    background-color: #ffffff00 !important;
	}
	.vue-form-wizard {
	    padding-bottom: 0px;
	}
</style>

<script>
	import { mapState, mapMutations } from 'vuex';
	import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
	export default {
		data(){
	        return {
				clickSubmit: false,
				file: null,
				editor: ClassicEditor,
                editorConfig: {},
                message: '',
	        }
      	},
      	mounted()
      	{
      		
      	},
      	methods: {
      		...mapMutations('tickets', ['addMessage', 'updateTicket']),
        	submit(){
        		this.clickSubmit = true
				if(this.message.length > 0){
					var data = new FormData();
			      	data.append('message', this.message);
			      	data.append('user_id', this.user.id);
			      	if(this.file)
			      		data.append('file', this.file);
					axios.post(BaseUrl + `/api/tickets/${this.ticketActive.id}/messages`, data)
					.then(response=>{
						this.message = ''
						this.file = null
						this.clickSubmit = false
						this.addMessage(response.data.message)
						this.updateTicket(response.data.ticket)
						$('#modal-report').modal('hide')
					});
				}
        	},
        	processFile(e)
			{
				this.file = e.target.files[0]
				console.log(this.file)
			},
    	},
    	computed: {
    		...mapState(['user']),
    		...mapState('tickets', ['ticketActive']),
    	},
	}
</script>