<template>
	<div class="modal fade" id="modal-add-participant" tabindex="-1" role="dialog" aria-labelledby="modal-ticket-title" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header bg-light text-dark">
					<h1 class="modal-title display-1" id="exampleModalLongTitle" style="font-size:25px">Añadir participante</h1>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div>
						<div class="input-group input-group-sm mb-3 bg-light">
							<div class="input-group-prepend">
								<button class="btn btn-white border" type="button" id="button-addon1"><i class="fas fa-search"></i></button>
							</div>
							<input type="text" class="form-control" placeholder="Ingresa tu busqueda aquí" aria-describedby="button-addon1" v-model="findUser">
						</div>
						<div class="text-center mt-4">
							<div class="spinner-border text-secondary" role="status" v-if="isBussyUsers">
								<span class="sr-only">Loading...</span>
							</div>
							<h6 class="text-secondary" v-if="!isBussyUsers && listUsersFiltered.length==0">No se encontraron usuarios</h6>
						</div>
						<ul class="list-group list-group-flush list-users">
                        
                            <li class="list-group-item py-6" v-for="(user, index) in listUsersFiltered">
                                <div class="media align-items-center">

                                    <picture-user-for-participant-component :user="user" />
                                    
                                    <div class="media-body">
                                        <h6 class="mb-0 h6">{{ user.name }}</h6>
                                        <small class="text-muted">{{ user.email }}</small>
                                    </div>

                                    <div class="align-self-center ml-auto">
                                        <div class="custom-control custom-checkbox">
                                            <input class="custom-control-input" :id="'user'+user.id" type="checkbox" :value="user.id" v-model="form.newParticipants">
                                            <label class="custom-control-label" :for="'user'+user.id"></label>
                                        </div>
                                    </div>                         
                                </div>
                                <label class="stretched-label" :for="'user'+user.id"></label>
                            </li>
                        </ul>
					</div>
					<div class="text-center mt-4 mb-2">
						<button class="btn btn-secondary" v-if="!clickSubmit" @click="submit" :disabled="form.newParticipants.length == 0">Terminar
						</button>
						<button v-else="clickSubmit" class="btn btn-secondary" type="button" disabled>
							<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
							Cargando...
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { mapState, mapMutations } from 'vuex';
	export default {
		data(){
			return {
				form:{
					newParticipants: [],		
				},
				clickSubmit:false,
				findUser: ''
			}
		},
		mounted()
		{
			
		},
		methods: {
			...mapMutations('tickets', ['addNewParticipants']),
			dataReset()
			{
				this.clickSubmit = false
				this.form.newParticipants = []
			},
			submit(){
				// this.clickSubmit = true
				axios.post(BaseUrl + `/api/tickets/${this.ticketActive.id}/participants`, this.form).then(response=>{
					this.addNewParticipants(response.data)
					this.dataReset()
					$('#modal-add-participant').modal('hide')
				});
			},
		},
		computed: {
			...mapState(['user']),
			...mapState('tickets', ['listParticipants', 'ticketActive', 'listUsers', 'isBussyUsers']),
			listUsersFiltered()
			{
				return this.listUsers.filter(
                    user =>  user.name.toLowerCase().indexOf(this.findUser.toLowerCase()) > -1 || user.email.toLowerCase().indexOf(this.findUser.toLowerCase()) > -1
                	)
			}
		},
		watch:{
			user(){
				this.form.user_id = this.user.id
			}
		}
	}
</script>
<style>
	.stretched-label {
		position: absolute;
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
	}
	.media {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
	}

	.list-users{
		max-height: calc(500px);
		min-height: calc(500px);
		overflow-y: auto;
	}

	.align-self-center {
		-ms-flex-item-align: center!important;
		align-self: center!important;
	}

	input[type=checkbox], input[type=radio] {
	    -webkit-box-sizing: border-box;
	    box-sizing: border-box;
	    padding: 0;
	}
	.custom-control-input {
	    position: absolute;
	    left: 0;
	    z-index: -1;
	    width: 1.1rem;
	    height: 1.3rem;
	    opacity: 0;
	}

	.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
	    background-color: #4fa847;
	}

	.custom-control-input:checked~.custom-control-label::before {
	    color: #fff;
	    border-color: #4fa847;
	}

	.custom-control-label::after {
	    position: absolute;
	    top: .2rem;
	    left: -1.6rem;
	    display: block;
	    width: 1.1rem;
	    height: 1.1rem;
	    content: "";
	    background: no-repeat 50%/50% 50%;
	}

	.vue-form-wizard {
		padding-bottom: 0px;
	}
</style>