<template>
	<div class="modal fade" id="modal-escalate-ticket" tabindex="-1" role="dialog" aria-labelledby="modal-ticket-title" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header bg-light text-dark">
					<h1 class="modal-title display-1" id="exampleModalLongTitle" style="font-size:25px">
						Escalar ticket
					</h1>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					  	<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div style="margin-top:-30px; margin-bottom: 15px;">
						<div v-if="completeForm" style="margin-top: 30px" class="text-center">
							<div>
								<h4 class="display-1 text-success" style="font-size: 25px"><i class="far fa-check-circle"></i> ¡Todo listo!</h4>
									<p>
										Para terminar, presione el botón enviar.
									</p>
								<hr>
							</div>
							
							<div>
								<h4 class="display-1" style="font-size: 18px">Departamento:</h4>
								<p class="mb-0">{{ form.department_name }}</p class="mb-0">
							</div>
							<hr>
							<div>
								<h4 class="display-1" style="font-size: 18px">Tema:</h4>
								<p class="mb-0">{{ form.service_name }}</p class="mb-0">
							</div>
							<hr>
							<div>
								<h4 class="display-1" style="font-size: 18px">Asunto:</h4>
								<p class="mb-0">{{ form.subject_name }}</p class="mb-0">
							</div>
							<hr>
							<div>
								<button class="btn btn-secondary" @click="submit">Guardar</button>
							</div>
						</div>

						<form-wizard @on-complete="onComplete"
									  title="" subtitle=""
					                  shape="circle"
					                  step-size="xs"
					                  transition="slide"
									  :hideButtons="true"
					                  color="#70ae48"
					                  ref="wizard" v-if="!completeForm">
						 
						    <tab-content>
						    	<div class="text-center">
						           <h1 class="display-1" style="font-size: 27px">Departamento</h1>
						           <p>Seleccione el departamento al que corresponde este ticket</p>
						       </div>
					           <div class="border p-4" v-if="departments.length">
					           		<div class="text-center" v-for="(dep,index) in departments" :key="index" v-if="dep.id != department_id">
					           			<i class="fas fa-check text-success display-1" style="font-size:18px" v-if="dep.id == form.department_id"></i> &nbsp; 
					           			<label class="display-1 mb-0" style="font-size:18px; cursor:pointer;" @click="setDeparment(dep.id, dep.name)">
					           				{{ dep.name }}
					           			</label>

					           			<hr class="mx-1" v-if="index < departments.length - 1">
					           		</div>
					      		</div>
						    </tab-content>

						    <tab-content>
						    	<div class="text-center">
						            <h1 class="display-1" style="font-size: 27px">Tema relacionado</h1>
						           <p>Seleccione el tema relacionado a este ticket</p>
								</div>

								<div class="border p-4" v-if="services.length">
					           		<div class="text-center" v-for="(service, index) in services" :key="index">
					           			<i class="fas fa-check text-success display-1" style="font-size:18px" v-if="service.id == form.service_id"></i> &nbsp; 
					           			<label class="display-1 mb-0" style="font-size:15px; cursor:pointer;" for="sistemas" @click="setService(service.id, service.name)">
					           				{{ service.name }}
					           			</label>
					           			<hr class="mx-1" v-if="index < services.length - 1">
					           		</div>
					      		</div>
						    </tab-content>

						    <tab-content>
						    	<div class="text-center">
						            <h1 class="display-1" style="font-size: 27px">Asunto</h1>
						           	<p>Seleccione un asunto, si no existe el asunto que necesita puede registrar otro</p>
						       	</div>
					           <div class="border p-4" v-if="subjects.length">
					           		<div class="text-center" v-for="(subject, index) in subjects" :key="index">
					           			<i class="fas fa-check text-success display-1" style="font-size:18px" v-show="subject.id == form.subject_id"></i> &nbsp; 
					           			<label class="display-1 mb-0" style="font-size:15px; cursor:pointer;" for="sistemas" @click="setSubject(subject.id, subject.name)">
					           				{{ subject.name }}
					           			</label>
					           			<hr class="mx-1" v-if="index < subjects.length - 1">
					           		</div>
					      		</div>
						    </tab-content>
						    <tab-content>
						    	<div class="text-center">
						            <h1 class="display-1" style="font-size: 27px">Mensaje</h1>
						           	<p>Describenos tu problema</p>
						       </div>
						        <div class="form-group row">
						           <textarea v-model="form.message" class="form-control" placeholder="Ingresa tu mensaje aquí"></textarea>
						       	</div>
						           <div class="text-center mt-3">
						           <button class="btn btn-success" @click="onComplete">Terminar</button>
						       </div>
						    </tab-content>
				  		</form-wizard>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { mapState, mapMutations } from 'vuex'

	export default {
		props:{
			ticket_id: Number,
			department_id: Number
		},
		mounted()
      	{
      		this.getDepartments()
      	},
		data(){
	        return {
				loadingWizard: false,
				errorMsg: null,
				count: 0,
				completeForm: false,
				services: [],
				subjects: [],
				departments: [],
				form: {
					department_id: null,
					ticket_id: null,
					service_id: null,
					service_name: null,
					subject_id: null,
					subject_name: '',
					message: '',
					user_id: null
				}
	        }
      	},
      	methods: {
      		...mapMutations('tickets', ['setTicket', 'addMessage']),

      		getDepartments()
        	{
        		axios.get(BaseUrl + `/api/departments/admins`).then(response=>{
        			this.departments = response.data
        		});
        	},
        	getServices(department_id)
        	{
				axios.get(BaseUrl + `/api/services/department/${department_id}`).then(response=>{
					this.services = response.data
					this.nextTab()
				})
        	},
        	getSubjects(service_id)
        	{
        		axios.get(BaseUrl + `/api/subjects/service/${service_id}`).then(response=>{
        			this.subjects = response.data
        			this.nextTab()
        		})
        	},
        	setDeparment(id, name)
      		{
      			this.form.department_id = id
      			this.form.department_name = name
      			this.getServices(id);
      		},
      		setService(id, name)
      		{
      			this.form.service_id = id
      			this.form.service_name = name
      			this.getSubjects(id)
      		},
      		setSubject(id, name)
      		{
      			this.form.subject_id = id
      			this.form.subject_name = name
      			this.nextTab()
      		},
      		nextTab(){
      			this.$refs.wizard.nextTab()
      		},
       		onComplete: function(){
           		this.completeForm = true
        	},   
        	submit(){
        		this.form.user_id = this.user.id
        		this.form.ticket_id = this.ticket_id
      			this.form.message = '<p>' + this.form.message + '</p>'

        		axios.put(BaseUrl + `/api/tk/escalate`, this.form).then(response=>{
        			this.setTicket(response.data.ticket)
        			this.addMessage(response.data.message)
        			$('#modal-escalate-ticket').modal('hide')
        		})
        	}
    	},
    	computed: {
    		...mapState(['user']),
    	}
	}
</script>

<style>
	span.error{
	  	color:#e74c3c;
	  	font-size:20px;
	  	display:flex;
	  	justify-content:center;
	}
	.active {
	    background-color: #ffffff00 !important;
	}
	.vue-form-wizard {
	    padding-bottom: 0px;
	}
</style>