<template>
	<div style="height: 100%; width: 100%;" class="mt-3 img-content">
		<center>
			<img :src="urlImage"
				style="width: 450px;" 
				alt="Seleccione una nota para comenzar" class="imag">
			</img>
		</center>
	</div>
</template>

<script>

	export default {
		data() {
		    return {
		    	urlImage: ''
		   	};
		},
		mounted()
		{
		    this.urlImage = BaseUrl + '/images/system/sin_mensajes.png'

		},
	}
</script>

<style>
	.img-content {
	  display: -ms-flexbox;
	  display: -webkit-box;
	  display: flex;
	  -ms-flex-align: center;
	  -ms-flex-pack: center;
	  -webkit-box-align: center;
	  align-items: center;
	  -webkit-box-pack: center;
	  justify-content: center;

	}
</style>