<template>
	<div>
		<div class="" style="max-width: 100%;">
			<ul class="list-group list-group-flush" v-if="ticketActive">
				<li class="list-group-item bg-light">
					<div class="row">
						<div class="col-lg-8 col-md-6 col-sm-12 p-2" style="min-height: 49px; max-height: 49px">
							<h1 class="display-1 mt-2 mb-0" style="font-size: 21px">
								Ticket #{{ ticketActive.id }}
							</h1>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="dropdown mt-1" v-if="isAdmin">
								<button class="btn btn-light btn-sm float-right dropdown-toggle mt-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								    <i class="fas fa-ellipsis-v px-2"></i>
								</button>
							
								<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
								    <a v-show="menu_status" class="dropdown-item" href="#" data-toggle="modal" data-target="#modal-edit-tservice">
								    	<i class="fas fa-edit px-2"></i>
								    	Editar
								    </a>
								    <a v-show="menu_status" class="dropdown-item" href="#" data-toggle="modal" data-target="#modal-escalate-ticket">
								    	<i class="fas fa-share px-2"></i>
								    	Escalar
								    </a>
								    <a v-if="ticketActive.status != 'Cerrado'" class="dropdown-item" href="#" data-toggle="modal" data-target="#modal-close-ticket" @click="changeStatus('cerrar')">
								    	<i class="fas fa-comment-slash px-2"></i>
								    	Cerrar
								    </a>
								    <a v-else class="dropdown-item" href="#" data-toggle="modal" data-target="#modal-close-ticket" @click="changeStatus('reabrir')">
								    	<i class="fas fa-comment px-2"></i>
								    	Reabrir
								    </a>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="list-group-item">
					<div class="row">
						<div class="col-lg-12">
							<h5 class="mb-1 font_title">Tema:</h5>
						</div>
					</div>
					<p class="mb-1 font_size">{{ ticketActive.service_name }}</p>
				</li>
				<li class="list-group-item">
					<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1 font_title">Asunto:</h5>
					</div>
					<p class="mb-1 font_size">{{ ticketActive.subject }}</p>
				</li>
				<li class="list-group-item">
					<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1 font_title">De:</h5>
					</div>
					<p class="mb-1 font_size">{{ ticketActive.user_name }}
					<p class="mb-1 font_size text-secondary">
						({{ ticketActive.user_email }})
					</p>
				</li>
				<li class="list-group-item">
					<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1 font_title">Fecha:</h5>
					</div>
					<p class="mb-1 font_size"> {{ ticketDate }}</p>
				</li>
				<li v-if="!isAdmin && ticketActive.status != 'Cerrado'" class="list-group-item text-center">
					<button class="btn btn btn-danger px-3" data-toggle="modal" data-target="#modal-close-ticket" @click="changeStatus('cerrar')">Cerrar ticket <i class="fas fa-comment-slash ml-2"></i></button>
				</li>
				<li v-if="isAdmin && ticketActive.status == 'Cerrado'" class="list-group-item text-center">
					<button class="btn btn-sm btn-light w-100" data-toggle="modal" data-target="#modal-close-ticket" @click="changeStatus('reabrir')">Reabrir ticket</button>
				</li>
			</ul>

		</div>
		
		<form-edit-tservice-component 
			:department_id="ticketActive.department_id"
			:ticket_id="ticketActive.id"
		/>

		<form-escalate-ticket-component 
			:department_id="ticketActive.department_id"
			:ticket_id="ticketActive.id"
		/>

		<form-status-ticket-component 
			:ticket_id="ticketActive.id"
		/>
	</div>
</template>

<script>
	import { mapState, mapMutations } from 'vuex'
	
	export default {
		data() {
			return {

			}
		},
		methods:{
			...mapMutations('tickets', ['setDataStatus']),

			changeStatus(accion)
			{
				if (accion != 'cerrar') {
					var data = {
						title: 'Reabrir ticket', 
						question: '¿Está seguro de que desea reabrir este ticket?', 
						status: 'Abierto'
					}
				}else{
					var data = {
						title: 'Cerrar ticket', 
						question: '¿Está seguro de que desea cerrar este ticket?', 
						status: 'Cerrado'
					}
				}
				this.setDataStatus(data)
			}
		},
		computed: {
			...mapState('tickets', ['ticketActive']),
			...mapState(['user']),
			...mapState(['isAdmin']),
			ticketDate()
			{
				return moment(this.ticketActive.created_at).locale('es').format('LLLL');
			},
			menu_status()
			{
				return (this.ticketActive.status != 'Cerrado') ? true : false
			}
		}
	}
</script>

<style>
	.font_size{
		font-size: 12px;
	}
	.font_title{
		font-size: 18px;
	}
	.font_size_button{
		font-size: 11px;
	}
</style>
