<template>
	<div>											
		<div style="max-width: 100%;">
			<ul class="list-group list-group-flush" v-if="ticketActive">
				<participant-component  v-for="(participant, index) in listParticipants" :key="index" :participant="participant"/>
				<li v-if="isAdmin && listParticipants.length && ticketActive.status != 'Cerrado'" class="list-group-item text-center">
					<button class="btn btn btn-light text-secondary" data-toggle="modal" data-target="#modal-add-participant" @click="getUsers">Añadir participante <i class="fas fa-user-plus ml-2"></i></button>
				</li>
				<div class="text-center mt-4">
					<div class="spinner-border text-secondary" role="status" v-if="isBussyParticipants">
						<span class="sr-only">Loading...</span>
					</div>
					<h6 class="text-secondary" v-if="!isBussyParticipants && listParticipants.length==0">No se encontraron participantes</h6>
				</div>
			</ul>
		</div>
		<form-add-participant-component v-if="listParticipants.length" />
	</div>
</template>

<script>
	import { mapState, mapActions } from 'vuex'
	
	export default {
		methods:{
			...mapActions('tickets', ['getParticipants', 'getUsers']),
		},
		mounted()
		{
			this.getParticipants(this.ticketActive.id)
		},
		computed: {
			...mapState('tickets', ['ticketActive', 'listParticipants', 'isBussyParticipants']),
			...mapState(['user']),
			...mapState(['isAdmin']),
			idTicketActive()
			{
				return this.ticketActive.id
			},
		},
		watch: {
			idTicketActive(){
				this.getParticipants(this.ticketActive.id)
			}
		}
	}
</script>
