<template>
	<img class="img-fluid rounded" :src="urlImage" style="height:200px; cursor:pointer" data-toggle="modal" data-target="#modal-show-image" alt="" @click="setUrlShowImage(file.route)">
</template>

<script>
	import { mapState, mapMutations } from 'vuex'
	export default {
		props:{
			file: Object
		},
		methods:{
    		...mapMutations(['setUrlShowImage']),
		},
    	computed: {
    		urlImage()
    		{
    			return BaseUrl + '/' + this.file.route
    		}
    	},
	}
</script>

