<template>
	<div class="message my-3 mx-3" :class="messageAlign">
        <!-- Avatar -->
        <div class="avatar avatar-sm d-none d-lg-block">
            <img class="avatar-img" :src="urlUserPicture" alt="">
        </div>

        <!-- Message: body -->
        <div class="message-body px-4">

            <!-- Message: row -->
            <div class="message-row">
                <div class="d-flex align-items-center" :class="justify">

                    <!-- Message: content -->
                    <div class="message-content text-dark p-2" :class="messageStyle">
                        <div class="form-row" v-if="message.files && message.files.length">
                            <div v-for="file in message.files">
                                <div class="col mx-0 mb-1" v-if="imageFormat(file)">
                                    <message-image-component :file="file" />
                                </div>
                            </div>
                        </div>

                        <div class="px-2 pt-1 div-message" v-html="message.message"></div>

                        <template v-if="message.files && message.files.length">
                            <div v-for="file in message.files" class="media m-3" v-if="!imageFormat(file)">
                                <a href="#" class="icon-shape bg-danger text-white mr-3">
                                    <i class="fas fa-paperclip paperclip2"></i>
                                </a>
                                <div class="media-body overflow-hidden flex-fill">
                                    <a href="#" class="d-block text-truncate font-medium text-reset text-dark" @click="downloadFile(file)"><strong>{{ file.name }}</strong></a>
                                    <ul class="list-inline small mb-0">
                                       <!--  <li class="list-inline-item">
                                            <span class="t">10 kb</span>
                                        </li> -->
                                        <li class="list-inline-item">
                                            <span class="text-uppercase">{{ file.type }}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </template>

                        <div class="px-2 pb-1">
                            <small class="text-secondary text-muted opacity-65">{{ messageDate }}</small>
                        </div>
                    </div>
                    <!-- Message: content -->

                </div>
            </div>
            <!-- Message: row -->
        </div>
        <!-- Message: body -->
    </div>
</template>

<script>
	import { mapState, mapMutations } from 'vuex'
	export default {
		props:{
			message: Object,
		},
		data() {
			return {

			};
		},
		mounted() {
			
		},
		methods: {
            downloadFile(file)
            {
                window.location = BaseUrl + `/api/files/${file.id}`
            },
            imageFormat(file)
            {
                if(file.type == 'JPEG' || file.type == 'PNG' || file.type== 'JPG' || file.type== 'jpeg' || file.type== 'png' || file.type== 'jpg' || file.type=='image/png' || file.type=='image/jpeg' || file.type=='image/jpg')
                    return true
                return false
            }
		},
		computed: {
			...mapState(['user']),
			messageDate()
			{
				return moment(this.message.created_at).locale('es').format('DD MMM YY, h:mm a');
			},
			messageAlign()
			{
				if(this.user){
					if(this.message.user_id == this.user.id){
						return 'message-right'
					}else{
						return ''
					}
				}
			},
			messageStyle()
			{
				if(this.user){
					if(this.message.user_id == this.user.id){
						return 'bg-danger-15'
					}else{
						return 'bg-light-15'
					}
				}	
			},
			justify()
			{
				if(this.user){
					if(this.message.user_id == this.user.id){
						return 'justify-content-end'
					}else{
						return ''
					}
				}	
			},
            urlUserPicture()
            {
                return BaseUrl + this.message.user_picture
            },
            marginAvatar()
            {
                if(this.user){
                    if(this.message.user_id == this.user.id)
                        return ''
                    else
                        return 'mr-3'
                }
            }
		},
		watch: {
		
		},
	}
</script>
<style>

.message {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}
.message-right .message-body {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.message-body {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.dropdown, .dropleft, .dropright, .dropup {
    position: relative;
}
.message-right .message-row .message-content {
    border-radius: .625rem .625rem 2px .625rem;
}
@media (min-width: 1200px)
.message-content {
    max-width: 45%;
}
.message-content {
    border-radius: .625rem .625rem .625rem 2px;
    display: inline-block;
    padding: 1.125rem;
}
.message .message-row+.message-row {
    margin-top: 1rem;
}

.icon-shape>i, .icon-shape>span {
    position: absolute;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.bg-primary .icon-shape {
    background: #006ae7;
    color: #fff;
}

.icon-shape {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    font-size: 1.125rem;
    min-width: 2.75rem;
    height: 2.75rem;
    min-height: 2.75rem;
    width: 2.75rem;
    min-width: 2.75rem;
}



@media (min-width: 1200px)
.message .avatar, .message .avatar>img {
    height: 2.75rem;
    min-height: 2.75rem;
    width: 2.75rem;
    min-width: 2.75rem;
}

.message-right .avatar {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}
.message .avatar, .message .avatar>img {
    height: 2.5rem;
    min-height: 2.5rem;
    width: 2.5rem;
    min-width: 2.5em;
}
.avatar-sm, .avatar-sm>img {
    height: 2.75rem;
    min-height: 2.75rem;
    width: 2.75rem;
    min-width: 2.75rem;
}
.avatar, .avatar>img {
    height: 3.125rem;
    min-height: 3.125rem;
    width: 3.125rem;
    min-width: 3.125rem;
}
.avatar, .avatar>img {
    border-radius: 50%;
}
.avatar {
    background: #f5f6fa;
    display: inline-block;
    position: relative;
    line-height: 0;
}


.bs-left{
   /* -webkit-box-shadow: 1px 1px 8px 1px rgba(166,219,116,1);
    -moz-box-shadow: 1px 1px 8px 1px rgba(166,219,116,1);
    box-shadow: 1px 1px 8px 1px rgba(166,219,116,1);*/
}

.message-content{
    /*box-shadow: 0 0.25rem 0.75rem rgb(69, 85, 95, .2);*/
    box-shadow: 0.1rem 0.1rem 0.45rem rgb(69, 85, 95, 0.24);
}

.message-content{
    max-width: 70% !important;
}

.form-row .col {
    padding-right: 8px;
    padding-left: 8px;
}

.form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -8px;
    margin-left: -8px;
}

.div-message>p{
    margin-bottom:0px;
}

</style>