<template>
	<div class="modal fade"  id="modal-show-image" tabindex="-1" role="dialog" aria-labelledby="modal-ticket-title" aria-hidden="true">
		<div class="modal-dialog modal-xl modal-dialog-centered" role="dialog">
			<div class="modal-content modal-content-image bg-transparent">
				<div class="modal-body p-0 bg-transparent text-center">
					 <img class="img-fluid rounded" :src="urlImage" style="height: 80vh; max-height: 80vh; max-width: 80vw"/>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { mapState } from 'vuex'
	export default {
    	computed: {
    		...mapState(['urlShowImage']),
    		urlImage()
    		{
    			return BaseUrl + '/' + this.urlShowImage
    		}
    	},
	}
</script>

<style>
	.modal-content-image {
    	border: 0px solid rgba(0, 0, 0, 0.2); 
	}
	.modal-xl {
	    max-width: 1540px;
	}
</style>