<template>
	<div style="height: 100%; width: 100%;" class="mt-3 img-content">
		<center>
			<img :src="urlImage"
				style="width: 450px; margin-top: -30px" 
				alt="Seleccione una nota para comenzar" class="imag">
			</img>
		</center>
	</div>
</template>

<script>
	import { mapState } from 'vuex'
	export default {
		data() {
		    return {
		    	urlImage: BaseUrl + '/images/system/no_ticket_active.png'
		   	};
		},
		mounted()
		{
		
		},
		computed: {
			...mapState(['user']),
			
		},
		watch: {
			// user(){
			// 	this.urlImage = this.user.picture
			// }
		}
	}
</script>

<style>
	.img-content {
	  display: -ms-flexbox;
	  display: -webkit-box;
	  display: flex;
	  -ms-flex-align: center;
	  -ms-flex-pack: center;
	  -webkit-box-align: center;
	  align-items: center;
	  -webkit-box-pack: center;
	  justify-content: center;

	}
	.image_outer_container{
		margin-top: auto;
		margin-bottom: auto;
		border-radius: 50%;
		position: relative;
	}
	.image_inner_container{
		border-radius: 50%;
		padding: 4px;
		background: #833ab4; 
		background: -webkit-linear-gradient(to bottom, rgb(106, 115, 123), rgb(69, 85, 95), rgb(227, 27, 35), #912020); 
		background: linear-gradient(to bottom,  rgb(106, 115, 123), rgb(69, 85, 95), rgb(227, 27, 35), #912020);
	}
	.image_outer_container .green_icon{
		position: absolute;
		right: 31px;
		bottom: 0px;
		height: 13px;
		width: 13px;
		border:px solid white;
		border-radius: 50%;
	}
</style>