<template>
	<div class="avatar avatar-sm mr-5">
        <img class="avatar-img" :src="urlPicture" :alt="user.name">
    </div>
</template>
<script>
	export default {
		props:{
			user: Object
		},
    	computed: {
    		urlPicture()
    		{
    			return BaseUrl + this.user.picture
    		}
    	},
	}
</script>
