<div class="message">
            <!-- Avatar -->
            <a class="avatar avatar-sm mr-4 mr-lg-5" href="#" data-chat-sidebar-toggle="#chat-2-info">
                <img class="avatar-img" src="assets/images/avatars/10.jpg" alt="">
            </a>

            <!-- Message: body -->
            <div class="message-body">

                <!-- Message: row -->
                <div class="message-row">
                    <div class="d-flex align-items-center">

                        <!-- Message: content -->
                        <div class="message-content bg-light w-100">
                            <h6 class="mb-2">Anna Bridges shared 3 photos:</h6>
                            <div class="form-row py-3">
                                <div class="col">
                                    <img class="img-fluid rounded" src="https://themes.2the.me/Boomerang/1.2/assets/images/team/1.jpg" data-action="zoom" alt="">
                                </div>
                                <div class="col">
                                    <img class="img-fluid rounded" src="https://themes.2the.me/Boomerang/1.2/assets/images/team/2.jpg" data-action="zoom" alt="">
                                </div>
                                <div class="col">
                                    <img class="img-fluid rounded" src="https://themes.2the.me/Boomerang/1.2/assets/images/team/3.jpg" data-action="zoom" alt="">
                                </div>
                            </div>

                            <div class="mt-1">
                                <small class="opacity-65">8 mins ago</small>
                            </div>
                        </div>
                        <!-- Message: content -->

                        <!-- Message: dropdown -->
                        <div class="dropdown">
                            <a class="text-muted opacity-60 ml-3" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fe-more-vertical"></i>
                            </a>

                            <div class="dropdown-menu">
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    Edit <span class="ml-auto fe-edit-3"></span>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    Share <span class="ml-auto fe-share-2"></span>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    Delete <span class="ml-auto fe-trash-2"></span>
                                </a>
                            </div>
                        </div>
                        <!-- Message: dropdown -->

                    </div>
                </div>
                <!-- Message: row -->

                <!-- Message: row -->
                <div class="message-row">
                    <div class="d-flex align-items-center">

                        <!-- Message: content -->
                        <div class="message-content bg-light">
                            <div>Yeah, I'm going to meet a friend of mine at the department store. I have to buy some presents for my parents.</div>

                            <div class="mt-1">
                                <small class="opacity-65">8 mins ago</small>
                            </div>
                        </div>
                        <!-- Message: content -->

                        <!-- Message: dropdown -->
                        <div class="dropdown">
                            <a class="text-muted opacity-60 ml-3" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fe-more-vertical"></i>
                            </a>

                            <div class="dropdown-menu">
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    Edit <span class="ml-auto fe-edit-3"></span>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    Share <span class="ml-auto fe-share-2"></span>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    Delete <span class="ml-auto fe-trash-2"></span>
                                </a>
                            </div>
                        </div>
                        <!-- Message: dropdown -->

                    </div>
                </div>
                <!-- Message: row -->

            </div>
            <!-- Message: body -->
        </div>