<template>
	<div class="container-fluid" style="margin-top: -20px; height: calc(100vh - 56px);">
	    <div class="row h-100">
	        <div class="col-md-3 h-100 px-0">
	        	<list-tickets-component />     	
	        </div>
	        <div class="col-md-9 h-100 ">
	        	<ticket-active-component v-if="ticketActive" />
	        	<no-ticket-active-component v-else />
	        </div>
		</div>
		<notifications-all-component />
	</div>
</template>
<script>
	import { mapState, mapMutations, mapActions } from 'vuex'
	import Push from 'push.js'
	export default {
		props:{
			ticket: Object,
			messages: Array,
			user: Object,
			isAdmin: Boolean,
		},
		data() {
			return {

			};
		},
		mounted() {
			this.setIsAdmin(this.isAdmin)
			this.listenForNewTickets()
			this.listenForCloseTickets()
			this.listenForUpdateTicket()
			if(this.ticket){
				this.setTicket(this.ticket)
				this.deleteMessagesUnread(this.ticket.id)
				this.setMessages(this.messages)
			}
			if(!Push.Permission.has())
            	Push.Permission.request(this.onGranted, this.onDenied);

		},
		methods: {
			...mapMutations('notifications',['addNotification', 'incrementCount']),
			...mapMutations(['setUser', 'setIsAdmin']),
			...mapMutations('tickets', ['setMessages', 'setTicket','participantHere', 'participantJoin', 'participantLeaving', 'addMessageUnread', 'updateTicket', 'setUsersOnline', 'setUserOnline', 'removeUserOffline']),
			...mapActions('tickets', ['deleteMessagesUnread', 'getParticipants']),
			listenForNewTickets() {
                Echo.private(`users.${this.user.id}`)
                    .listen('TicketCreated', (e) => {
                    	if(this.isAdmin){
                    		this.listTickets.push(e.ticket);  
                    		this.notificationNewTicket(e.user, e.ticket)
                    	}		                      
                    });
            },
            listenForCloseTickets()
            {
 				Echo.private(`chat`)
                    .listen('TicketClosed', (e) => {
                    	console.log(e)
                		this.updateTicket(e.ticket)      
                    });
            },
            listenForUpdateTicket() {
                Echo.private(`chat`)
                .listen('NewMessage', (e) => {
                	if(this.ticketActive)
                	{
                		if(e.ticket.id != this.ticketActive.id){
                			var read = null
							this.incrementCount()
							this.addMessageUnread(e.message.ticket_id)
						}else{
							var read = this.myDate;
						}
						this.notificationNewMessage(e.user, e.ticket, read)
                	}else{
                		var read = null;
						this.notificationNewMessage(e.user, e.ticket, read)
						this.incrementCount()
						this.addMessageUnread(e.message.ticket_id)
                	}
					this.updateTicket(e.ticket);

					if (document.visibilityState == "hidden") {
						if(this.userHasTicket(e.ticket.id))
							this.notificationPush(e)
					} 
                });
             	Echo.join(`chat`)
             	.here((users) => {
                	users.forEach((user) => this.setUserOnline(user, true));
             	})
	            .joining(
	                user => this.setUserOnline(user, true)
	            )
	            .leaving(
	                user => this.removeUserOffline(user, false)
	            );
            },
            notificationPush(data)
            {
            	if(Push.Permission.has()){
	            	Push.create(data.message.user_name, {
	            		body: `Contestó en el ticket ${data.ticket.id}`,
	            		icon: `${BaseUrl}${data.ticket.user_picture}`,
	            		timeout: 40000,
	            		onClick: function () {
	            			if(this.isAdmin)
	            				window.location.href = BaseUrl + `/tickets/${data.ticket.id}/admin`
	            			else
	            				window.location.href = BaseUrl + `/tickets/${data.ticket.id}`
	            			this.close();
	            		}
	            	});
	            }else{
	            	Push.Permission.request(onGranted, onDenied);
	            }
            },
            userHasTicket(ticket_id)
            {
            	const ticket_state = this.listTickets.find(function(ticket_state){
                    return ticket_state.id == ticket_id
            	})
            	if(ticket_state)
            		return true
            	return false
            },
            notificationNewMessage(user, ticket, read)
            {
            	var notification = {
            		created_at: this.myDate,
					data:{
						icon:`<i class="far fa-envelope"></i>`,
						id: ticket.id,
						picture: user.picture,
						route_name:"tickets.show_admin",
						text:`<b>${user.name}</b> ha mandado un mensaje en el ticket #${ticket.id}`
					},
					id:"",
					notifiable_id: this.user.id,
					read_at: read,
					updated_at: this.myDate
            	}
	            this.addNotification(notification)
            },
            notificationNewTicket(user, ticket)
            {
            	var notification = {
            		created_at: this.myDate,
					data:{
						icon:`<i class='far fa-sticky-note'></i>`,
						id: ticket.id,
						picture: user.picture,
						route_name:"tickets.show_admin",
						text:`<b>${user.name}</b> ha creado un nuevo ticket (#${ticket.id})`
					},
					id:"",
					notifiable_id: this.user.id,
					read_at: null,
					updated_at: this.myDate
            	}
	            this.addNotification(notification)
            }
		},
		computed: {
			...mapState('tickets', ['ticketActive', 'listTickets']),
			myDate()
            {
                return moment(new Date()).format("YYYY-MM-DD HH:mm:ss");
            },
		},
		watch: {
			
		},
	}
</script>