<template>
	<a style="cursor:pointer" class="list-group-item list-group-item-action" :class="buttonClass" @click="showTicket(ticket)">
		<div class="row">
			<div class="col-lg-2 px-1 text-center">
				<center><img v-if="isAdmin" :src="userPicture" class="rounded-circle mt-1" alt="Usuario" style="min-width: 40px; min-height: 40px; max-width: 40px; max-height: 40px;" />
				<div v-else class="card-img-top ml-0 pl-0 mt-1 text-white" :class="classImage" alt="Card image cap" style="width: 40px; height: 40px; border-radius: 50%;" ><h2 class="pt-0">{{ letraDepartamento }}</h2></div></center>
			</div>
			<div class="col-lg-10 pl-0">
				<small>
					<p class="my-0 pr-3">
						<small><strong>{{ ticket.id }}</strong></small> {{ ticket.subject }}
					</p>
					<p class="my-0" v-if="isAdmin">
						{{ ticket.user_name }}
						<span v-show="ticket.messages_unread > 0" class="badge badge-pill badge-secondary float-right py-1">{{ ticket.messages_unread }}</span>
					</p>
					<p class="my-0" v-else>
						Dpto. de {{ ticket.department_name }}
						<span v-show="ticket.messages_unread > 0" class="badge badge-pill badge-secondary float-right py-1">{{ ticket.messages_unread }}</span>
					</p>
					<p class="my-0">
						<small>
							<span class="badge" style="font-size: 8px" :class="classBadge">{{ ticketStatus }}</span>&nbsp;&nbsp;<i class="far fa-clock"></i> 
							{{ lastTime }}
						</small>
					</p>
				</small>
			</div>
		</div>
	</a>
</template>
<script>
	import { mapState, mapMutations, mapActions } from 'vuex'
	export default {
		props:{
			ticket: Object,
		},
		data() {
			return {

			};
		},
		mounted() {
	
		},
		methods: {
			...mapMutations(['setUser']),
			...mapActions('tickets', ['getMessages']),
			...mapMutations('tickets', ['setTicket']),
			...mapActions('notifications', ['readNotifications']),

			showTicket(ticket){
				const path = this.$route.path
				if(this.isAdmin)
					var url = `/tickets/${ticket.id}/admin`;
				else
					var url = `/tickets/${ticket.id}`;
				if(path != url){
					this.$router.push(BaseUrl + url)
					this.setTicket(ticket)
					this.getMessages(ticket.id)
				}
				if(this.ticket.messages_unread > 0){
					var data = {
						ticket_id: this.ticket.id,
						from: 'listTickets'
					}				
					this.readNotifications(data)
				}	
			},
		},
		computed: {
			...mapState(['isAdmin']),
			...mapState('tickets', ['ticketActive']),
			buttonClass()
			{
				if(this.ticketActive){
					if (this.ticket.id == this.ticketActive.id)
						return 'bg-ligth-active'
					else
						return ''
				}else{
					return ''
				}
			},
			lastTime()
			{
				const time = moment(this.ticket.updated_at, "YYYY-MM-DD hh:mm:ss").locale('es').fromNow();
				return time.charAt(0).toUpperCase() + time.slice(1);
			},
			letraDepartamento()
			{
				if(this.ticket.department_id=='2')
					return 'S'
				else
					return 'C'
			},
			classImage()
			{
				if(this.ticket.department_id=='2')
					return 'color-sistemas'
				else
					return 'color-conservacion'
				
			},
			classBadge()
			{
				if(this.ticketStatus == 'Cerrado')
					return 'badge-secondary'
				else if(this.ticketStatus == 'Abierto')
					return 'badge-success'
				else (this.ticketStatus)
					return 'badge-danger'
			},
			ticketStatus()
			{
				if(this.isAdmin)
					return this.ticket.status_admin
				else
					return this.ticket.status
			},
			userPicture()
			{
				return BaseUrl + this.ticket.user_picture
			}
		},
		watch: {
			
		},
	}
</script>
<style>
	.color-sistemas{
		background-color: #6695c5b5;
	}
	.color-conservacion{
		background-color: #c56666b5;
	}
	.bg-ligth-active{
    	background-color: #eef2f5;
    }
</style>