<template>
	<div class="container pt-3">
        <h1 class="display-4" style="font-size: 35px;"><i class="far fa-chart-bar"></i>&nbsp;&nbsp; Sistema de tickets - <span style="font-size: 35px;" class="text-dark"> Estadísticas</span></h1>
		
		<div class=" mb-4 mt-3">
			<v-date-picker
			:columns="$screens({ default: 1, lg: 2 })"
			locale="es"
		  	v-model="rangeDate"
		  	mode="range"
		  	color="red"/>
		</div>
		
		<div v-if="loading">
			<div v-if="tickets" class="row">
				<div class="col-6 px-0">
					<div class="col-12">
						<div class="toast fade show col" role="alert" aria-live="assertive" aria-atomic="true">
							<div class="toast-header text-secondary pt-2">
								<h1 class="display-1 pt-2" style="font-size: 22px">
					               	<b>Productividad</b>
					               	
					            </h1>

					            <a tabindex="0" class="btn btn-link info mt-1" role="button" data-toggle="popover" data-trigger="focus" title="Indicador de productividad" data-content="Representa un porcentaje de productividad en base a la comparación de los tickets abiertos con los tickets en un periodo de tiempo determinado">
									<i class="fas fa-question-circle text-dark"></i>
								</a>
							</div>
							<div class="toast-body text-center pb-2">
								<indicadores-productividad />
							</div>
						</div>
					</div>
					<div class="col-12 pt-4">
						<div class="toast fade show col" role="alert" aria-live="assertive" aria-atomic="true">
							<div class="toast-header text-secondary pt-2">
								<h1 class="display-1 pt-2" style="font-size: 22px">
					               	<b>Número de tickets por servicios</b>
					            </h1> 
								&nbsp;
								<a tabindex="0" class="btn btn-link info mt-1" role="button" data-toggle="popover" data-trigger="focus" title="Número de tickets por servicios" data-content="Muestra una gráfica comparativa mostrando el numero de asuntos solicitados, representando los asuntos más solicitados en un periodo de tiempo">
									<i class="fas fa-question-circle text-dark"></i>
								</a>
							</div>
							<div class="toast-body text-center pb-4">
								<indicadores-tickets-por-servicio />
							</div>
						</div>
					</div>
				</div>
				<div class="col-6 px-0">
					<div class="col-12">
						<div class="toast fade show col" role="alert" aria-live="assertive" aria-atomic="true">
							<div class="toast-header text-secondary pt-2" >
								<h1 class="display-1 pt-2" style="font-size: 22px">
					               	<b>Tiempo medio de solución</b>
					            </h1>
								&nbsp;
								<a tabindex="0" class="btn btn-link info mt-1" role="button" data-toggle="popover" data-trigger="focus" title="Tiempo medio de solución" data-content="Representa el tiempo en que los tickets tardan en solucionarse comparando la fecha de creación a la fecha de cierre, este indicador se mide por tipos de servicios.">
									<i class="fas fa-question-circle text-dark"></i>
								</a>
							</div>
							<div class="toast-body text-center pb-2"">
								<indicadores-tiempo-solucion />
							</div>
						</div>
					</div>
					<div class="col-12 pt-4">
						<div class="toast fade show col" role="alert" aria-live="assertive" aria-atomic="true">
							<div class="toast-header text-secondary pt-2">
								<h1 class="display-1 pt-2" style="font-size: 22px">
					               	<b>Número de tickets por asuntos</b>
					            </h1>
								&nbsp;
								<a tabindex="0" class="btn btn-link info mt-1" role="button" data-toggle="popover" data-trigger="focus" title="Número de tickets por asuntos" data-content="Muestra una gráfica comparativa con el número de asuntos solicitados, mostrando los asuntos más solicitados en un periodo de tiempo.">
									<i class="fas fa-question-circle text-dark"></i>
								</a>
							</div>
							<div class="toast-body text-center pb-4">
								<indicadores-tickets-por-asunto />
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 pt-4 mb-4">
					<div class="toast fade show col" role="alert" aria-live="assertive" aria-atomic="true">
						<div class="toast-header text-secondary pt-2">
							<h1 class="display-1 pt-2" style="font-size: 22px">
				               	<b>Número de tickets por departamentos</b>
				            </h1>
							&nbsp;
							<a tabindex="0" class="btn btn-link info mt-1" role="button" data-toggle="popover" data-trigger="focus" title="Número de tickets por asuntos" data-content="Muestra una gráfica comparativa con el número de asuntos solicitados, mostrando los asuntos más solicitados en un periodo de tiempo.">
								<i class="fas fa-question-circle text-dark"></i>
							</a>
						</div>
						<div class="toast-body text-center pb-4">
							<indicadores-tickets-por-departamento />
						</div>
					</div>
				</div>
			</div>
			<div v-else class="alert alert-warning-light text-center" role="alert">
				<h1 class="display-1 pt-1" style="font-size: 22px">
		            <b>Sin tickets</b>
		        </h1>
			</div>
		</div>
		
		<div v-else class="text-center mt-3">
			<h5 class="text-secondary">
				<div class="spinner-border" role="status" style="width: 1.5rem; height: 1.5rem;">
				  	<span class="sr-only"></span>
				</div>
				<label class="ml-1">Cargando...</label>
			</h5>
		</div>
		
	</div>
</template>

<script>
	import { mapState, mapActions, mapMutations } from 'vuex'

    export default {
    	props:{
			user: Object
		},
        data() {
            return {
            	loading: false,
            	tickets: false,
            	startOfMonth: null,
            	endOfMonth: null,
            	rangeDate: {} 
            }
        },
        mounted() {
        	this.setUser(this.user)

        	this.getCurrentMonth()
        	this.getTicketsProductivity(this.user.department_id)
        	this.getTicketsByService(this.user.department_id) 
        	this.getTicketsBySubject(this.user.department_id)
        	this.getTicketsByDepartment(this.user.department_id)
        	this.getTicketsAttentionTime(this.user.department_id)
        },
        methods: { 
        	...mapMutations('indicators', ['setRangeDate']),
        	...mapMutations(['setUser']),

        	getCurrentMonth()
        	{
        		this.startOfMonth = moment().startOf('month').format('YYYY-MM-D')
				this.endOfMonth   = moment().endOf('month').format('YYYY-MM-D')

				const range = { start: this.startOfMonth, end: this.endOfMonth }
				
				this.rangeDate = {
					start: new Date(this.startOfMonth),
					end: new Date(this.endOfMonth)
				}

        		this.setRangeDate(range)
        	},

            ...mapActions('indicators', [
            	'getTicketsProductivity', 
            	'getTicketsByService', 
            	'getTicketsBySubject',
            	'getTicketsByDepartment',
            	'getTicketsAttentionTime'
            ])
        },
        computed: {
        	...mapState('indicators', ['tkattentionTime', 'productivity']),

            dateStart()
			{
				return  moment(this.rangeDate.start).format("YYYY-MM-DD")
			},
			dateEnd()
			{
				return  moment(this.rangeDate.end).format("YYYY-MM-DD")
			} 
        },
        watch:
        {
        	productivity()
        	{
        		if (this.productivity.length > 0) {
        			this.tickets = true
        		}else{
        			this.tickets = false
        		}
        	},
        	tkattentionTime()
        	{
        		this.loading = true
        	},
        	rangeDate()
        	{
        		const range = { start: this.dateStart, end: this.dateEnd }
        		this.setRangeDate(range)

        		this.getTicketsProductivity(this.user.department_id)
        		this.getTicketsByService(this.user.department_id) 
        		this.getTicketsBySubject(this.user.department_id)
        		this.getTicketsByDepartment(this.user.department_id)
        		this.getTicketsAttentionTime(this.user.department_id)
        	}
        } 
    }
</script>

<style>
	.alert-warning-light {
		background-color: #fffbf0;
		border-color: #fffbf0;
		color: #9a890b
	}
</style>