<template>
    <td align="center">
        {{ average }}
    </td>
</template>

<script>
    import { mapState } from 'vuex'

    export default {
        props:{
            tickets: Number,
            days: String
        },
        data() {
            return {
               
            }
        },
        computed: {
            average()
            {
                const time_average = this.days / this.tickets
                return time_average == 1 ? time_average.toFixed(2)+" día" : time_average.toFixed(2)+" días"
            }
        } 
    }
</script>
