<template>
   <div>
        <GChart style="height: 360px; width: 100%; font-size: 12px"
            type="ColumnChart"
            :data="chartData"
            :options="chartOptions"/>

         <div class="container-fluid mt-1">
            <div align="left">
                <button type="button" class="btn btn-sm btn-outline-dark" data-toggle="collapse" data-target="#collapseTableSubjects">
                    <i class="fas fa-list"></i>
                </button>
                <label class="pl-2">Ocultar tabla de detalles</label>
            </div>

            <hr class="mb-0">
            
            <div class="collapse show" id="collapseTableSubjects">
                <div class="card card-body border-0 pl-0 pr-0">
                    <div style="width: 100%; height: 283px; overflow: scroll;">
                         <table class="table table-bordered" style="font-size: 11px;">
                            <thead class="bg-light">
                                <tr>
                                    <th>Asuntos</th>
                                    <th>Tickets</th>
                                    <th>Abreviatura</th>
                                </tr>
                            </thead>
                            <tbody style="font-size: 10px">
                                <tr v-for="(datatksub, index) in tableData" :key="index">
                                    <td style="text-align: left;">{{ datatksub[0] }}</td>
                                    <td>{{ datatksub[1] }}</td>
                                    <td>{{ datatksub[2] }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr class="mt-0">
            </div>
        </div>  
    </div>
</template>

<script>
    import { GChart } from 'vue-google-charts'
    import { mapState } from 'vuex'

    export default {
        data() {
            return {
                chartOptions: {
                    vAxis: {title: 'Asuntos'},
                    hAxis: {title: 'Tickets'},
                    colors: ['#b0120a'],
                    animation:{
                        duration: 900,
                        easing: 'linear',
                        startup: true
                    }

                }
            }
        },
        mounted() {
            
        },
        methods: {

        },
        computed: {
            ...mapState('indicators', ['tksubjects']),

            chartData()
            {
                const array = [['Asunto', 'Tickets']]
                var index = 1   
                this.tksubjects.forEach(function(tksub){
                    array.push(['A-'+index, tksub.total])
                    ++index
                })
                return array
            },
            totalTkSubjects()
            {
                var total = 0
                this.tksubjects.forEach(function(tksub){
                    total += tksub.total 
                }) 
                return total
            },
            tableData()
            {
                var array = []
                var index = 1   
                for (var i = 0; this.tksubjects.length > i; i++) {
                    array.push([this.tksubjects[i].subject, this.tksubjects[i].total, 'A-'+index])
                    ++index
                }
                return array   
            }
        } 
    }
</script>
