
.imag {
	padding-top: 80px;
	width: 400px;
}

@media (min-width: 1000px) and (max-width: 2500px) { 

	.imag{
		width: 400px;
		opacity: 0.7;
	}

}
@media (max-width: 767px) {

	.imag{
		width: 300px;
		padding-top: 100px;
		opacity: 0.7;
	}

}