<template>
	<div>
		<center>
			<div class="spinner-border text-secondary my-2" role="status" v-if="isBusyNot">
				<span class="sr-only">Loading...</span>
			</div>
		</center>
		<div class="list-group notifications-scroll">
			<h6 v-if="unreadNotifications.length == 0" class="text-danger text-center display-1 my-4" style="font-size:20px">No se encontraron notificaciones</h6>
			<notification-component v-for="(notification, index) in unreadNotifications" :notification="notification" :key="index" />
			<infinite-loading @infinite="getNotifications" spinner="spiral">
 				<span slot="no-more"></span>
 				<template slot="spinner">
					
 				</template>
 				<template slot="no-results">No se encontraron notificaciones</template>
 			</infinite-loading>
		</div>
		<div class="list-group">
			<a href="#" class="navbar navbar-light bg-light border justify-content-center text-danger" data-toggle="modal" data-target="#modal-all-notifications">
				Mostrar todas
			</a>
		</div>
	</div>
</template>
<script>
    import { mapState, mapMutations, mapActions } from 'vuex'
	export default {
		props: {

		},
		data(){
			return {
				page: 1,
				infiniteId: +new Date(),
			}
		},
		mounted(){
			// Echo.private(`user.${this.usuario.idUsuario}`)
			// .listen('NotificationToUser', (data) =>{
			// 	this.setNotCount(this.notCount + 1);
			// });
		},
		methods:{
			...mapMutations('notifications',['setNotCount', 'setIdNotifications', 'addUnreadNotifications']),
			getNotifications($state)
			{
				var api = BaseUrl + `/api/unread-notifications`
				
				axios.get(api, {
			        params: {
			          page: this.page
			        },
			    }).then( response  => {
			        if (response.data.data.length) {
			          this.page += 1;
			          this.addUnreadNotifications(response.data.data)
			          $state.loaded();
			        } else {
			          $state.complete();
			        }
			    });

			},
			selectedNotification(notification){
				const idNotification = notification.data.id;
				const route = notification.data.route_name;
				this.$router.push( { path: BaseUrl + route } , () => {
					this.bandera = this.isNotificated ? false : true;
					this.setIdNotifications(this.bandera);
				});
			},
		},
		computed:{
			...mapState('notifications', ['unreadNotifications', 'isBusyNot', 'isNotificated']),
			time() {
                return moment(this.conversation.last_time, "YYYY-MM-DD hh:mm:ss")
                        .locale('es').fromNow();
            },
		},
		watch:{
		
		},
	}
</script>
<style>
	.shadow{
		/*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19); width: 380px;*/
	}
	.notifications-scroll{
        max-height: calc(44vh);
        overflow-y:auto;
    }
</style>


