<template>
	<a href="#" class="list-group-item-ligth pt-2 pb-2 pr-3 list-group-item-action head-dark border-bottom" :class="notificationClass" @click="read">
		<div class="row">
			<div class="col-lg-2">
				<img :src="userPicture" class="rounded-circle mt-1" alt="Usuario" style="margin-left:14px;"/>
			</div>
<!-- 			{{ notification.data }} -->
			<div class="col-lg-10">
				<div class="d-flex w-100 justify-content-between">
					<small><p class="mb-0" v-html="notification.data.text"></p></small>
				</div>
				<small v-html="notification.data.icon"></small>
				<small>{{ time }}</small>
			</div>
		</div>
	</a>
</template>

<script>
		import { mapState, mapMutations, mapActions } from 'vuex'	

    export default {
        props:{
            notification: Object,
        },
        data() {
		    return {
		    
		    };
		},
		mounted()
		{
			
		},
        methods:{
            ...mapActions('tickets', ['getMessages']),
            ...mapMutations('tickets', ['setTicket']),
			...mapActions('notifications', ['readNotifications']),
        	read() {	
        		if(!this.notification.read_at)
                    this.notification.read_at = this.myDate;
                var data={
                        ticket_id: this.notification.data.id,
                        from: 'listNotifications'
                    }
        		this.readNotifications(data)
                this.showTicket(data.ticket_id)
        	},
            showTicket(ticket_id){
                var ticket = this.listTickets.find(function(ticket){
                    return ticket.id == ticket_id
                });
                const path = this.$route.path
                if(this.isAdmin)
                    var url = `/tickets/${ticket.id}/admin`;
                else
                    var url = `/tickets/${ticket.id}`;
                if(path != url){
                    this.$router.push(BaseUrl + url)
                    this.setTicket(ticket)
                    this.getMessages(ticket.id)
                }                   
            }
        },
        computed: {
			...mapState('notifications',['notifications', 'notCount']),
            ...mapState('tickets', ['listTickets']),
            ...mapState(['isAdmin']),
            time() 
            {
                return moment(this.notification.created_at, "YYYY-MM-DD hh:mm:ss")
                        .locale('es').fromNow();
            },
            myDate()
            {
                return moment(new Date()).format("YYYY-MM-DD HH:mm:ss");
            },  
            notificationClass()
            {
            	if(this.notification.read_at)
            		return 'bg-white'
            	else
            		return 'bg-secondary-light'
            },
            userPicture()
            {
            	return BaseUrl + this.notification.data.picture
            },
            notificationRoute()
            {
            	return this.notification.data.route_name
            },
        }
    }
</script>

<style>
	.bg-secondary-light{
		background-color: #6c757d38 !important;
	}
</style>